
/* Inter font - setting */
.inter-first {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.raleway-second {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* shared styles */

/* main > * {
  margin-top: 109px;
} */

main > * {
    margin-top: 109px;
}

.btn-primary{
    background-color: #4E47FF;
    text-align: center;
    border-radius: 10px;
    padding: 12px 15px;
    border-style: none;
}

.btn-text{
    color: #FFFFFF;
    font-size: 16px;
}

.img-rad{
    border-radius: 45px;
}

/* Nav bar styles */
.header-style{
    height: 698px;
    background-image: url("../Assets/Hero-bg.png");
}
.nav-syle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    height: 150px;
}

nav h2{
    font-size: 34px;
    color: #4E47FF;
}


.banner-area{
    /* border: red solid; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* max-width: 905px;
    max-height: 237px; */
    text-align: center;
    margin: 250px 267px 152px;
}

.banner-title{
    font-size: 65px;
    padding: 0px 20px 0px;
}


/* ACTION SECTION */
.action-page{
    /* max-width: 1140px;
    max-height: 328px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1140px;
    max-height: 328px;
    margin-left: 350px;

}

.action-title{
    font-size: 42px;
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
    padding: 0;
    margin: 0;
}

.action-part{
    width: 100%;
    height: 100%;
    max-width: 517px;
    max-height: 203px;
    margin-top: 62.5px;

}
.action-desc{
    font-size: 24px;
    font-weight: 400;
    color: #252432;
}

/* product part */
.prod-part{
    border-radius: 10px;
    background-color: rgba(78, 71, 255, 0.1);
    width: 100%;
    max-width: 1140px;
    max-height: 306px;
    margin-left: 350px;
}

.prod-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.prod-info-list{
    display: flex;
    justify-content: space-between;
}

.product-item{
    text-align: center;

}
.prod-item-data{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
    padding: 0;
}
.prod-item-explain{
    font-size: 20px;
    margin: 0;
    padding: 0;
}